<ul class="product-list"> 
<% products.each do |product| %>
  <li class="product-item">
    <%= link_to product_path(product.id), method: :get do %>
      <div class="product-item__image">
        <%= attachment_image_tag product, :image %>
      </div>
      <div class="product-item__caption">
        <p class="product-item__name"><%= product.name %></p>
        <p class="product-item__price">&yen<%= product.price.to_s(:delimited) %></p>
      </div>
    <% end %>
  </li>
<% end %>
</ul>
<%= paginate products %>
